


.body {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    width: 800px;
    max-width: 70%;
    min-width: 430px;
    height: 120px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid gray;
    margin: 10px 0;
}

.employer-photo {
    max-width: 90%;
    max-height: 90%;
  }

.candidate-photo {
    align-self: center;
    height: 100px;
    width: 100px;
    border-radius: 120px;
    }

.photo-div {
    display: flex;
  justify-content: center; 
  align-items: center;
  width: 100px;
  height: 100px;
}
  
  

.candidate-container {
    display: flex;
    margin: 10px;
}

.candidate-container:first-child {
    align-items: center;
}

.data-container {
    display: flex;
    flex-direction: column;
    padding-left:20px;
}
.title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

.sub-title {
    font-size: 22px;
    font-weight: 500;
}

.about {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    min-width: 70%;
    width: 600px;
}

.link-no-style {
    color: inherit;
    text-decoration: none;
  }